<app-header titulo="Editar equipo"></app-header>

<ion-content class="ion-padding">






                  <form [formGroup]="datosEquipo" autocomplete="off">

                        <ion-list-header>
                          <ion-label> <h3>Id equipo: <small> {{ datosEquipo.value.id }}</small></h3>   </ion-label>
                        </ion-list-header>


                    <ion-item lines="none">
                      <ion-label>Núm. de serie:</ion-label>
                      <ion-input type="text"
                                 placeholder="Introduce número serie"
                                 formControlName="serial"
                                 required></ion-input>
                    </ion-item>

                    <ion-item  lines="none">
                      <ion-label>Lugar instación:</ion-label>
                      <ion-input type="text"
                                 placeholder="Introduce lugar instalación"
                                 formControlName="lugarInstalacion"
                                 required></ion-input>
                    </ion-item>
                    <ion-item  lines="none">
                      <ion-label>Fecha de compra:</ion-label>
                      <ion-datetime formControlName="fechaCompra"
                                    [value]="fechaCompra.toISOString()"
                                    display-format="DD MMMM YYYY"
                                    (ionChange)="cambioFecha( $event )"></ion-datetime>
                    </ion-item>


                 <ion-item  lines="none">

                     <ion-label><h4> Documento anexado:</h4></ion-label>

                   <ion-row>
                     <p *ngIf="cadena.length === 0"> NO hay documentos anexados</p>
                     <p *ngIf="cadena[3]"  class="tamTexto"> {{cadena[3] }}</p>
                   </ion-row>

                 </ion-item>

                    <ion-button (click)="guardar()"
                            type="submit" expand="block">
                     Editar
                    </ion-button>




                  </form>


</ion-content>
