<ion-app>

    <ion-split-pane when="xs md lg" contentId="main">

    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list class="ion-padding">
                <ion-menu-toggle autoHide="false">
                    <ion-item detail><ion-icon  slot="start"   name="card"></ion-icon> Comprar</ion-item>
                    <ion-item detail><ion-icon  slot="start" name="help"></ion-icon> Ayuda</ion-item>
                </ion-menu-toggle>



            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

    </ion-split-pane>
</ion-app>
